<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bens.Work</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
  <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/new-age.min.css" rel="stylesheet">
  </head>
  <body id='home'>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#intro">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#webdev">WEB DEV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#bi">BI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/api">View API</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <canvas  id='introCanvas' style=''>
    </canvas>
    <section class='fade-scroll' display='block' id='intro'>
      <div style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
          <div style='justify-content: center; content-align: center'>
            <br>
            <br>
            <img id='face' src="../images/BenStatue.png" style='background: rgba(255, 255, 255, 0.342); border: 1px solid rgba(255, 255, 255, 0.342); border-radius: 50%' width='300' height='300vh'> 
            <br>
            <img id='faceBackground' src="" style='justify-content:center;border-radius: 50%' width='300' height='300vh'> 
          </div>
        </div>
        <br>
        <div>
          <h1 id='title'>
            Ben M. Newell
          </h1>
          <h3 id='titleSubTop'>
            Benevolence • Analytics • Automation<br><br>
          </h3>
          <h3 id='titleSub'>This portfolio has been created to showcase my web development and business intellegence capabilities.
          </h3>
          </dir>
          <div style='justify-content: center;' class='row'>
              <span class="fa-stack fa-3x">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#webdev">
                      <i style='color: white' class="fa fa-chevron-down fa-stack-1x"></i>
                    </a>
                  </li>
                </ul>
              </span>
          </div>
        </div>
        <br>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <section class='fade-scroll' display='block' name='webdev' id='webdev'>
      <div  style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
          <div >
            <br>
            <br>
          </div>
        </div>
        <div >
          <h1 style='color:rgba(0, 0, 0, 0.514)' id='title'>
            Full Stack Web Development
          </h1>
          <h3 id='titleSub'>
            I have a passion for automation and backend logic.
            <br>
          </h3>
            <div style='content-align: center; justify-content: center' class="row">
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">SQL</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">APIs</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">CSS</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">NoSQL</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">GitHub</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">HTML</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">Flat Files</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">Heroku</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">JavaScript</p>
                </div>
              </div>
            </div>
          <br>
          <div class='row webDevArt'>
            <div class='col-4'>
              <div class='row iconRow'>
                <i  class="fa fa-database fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <i  class="fa fa-envira fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <i  class="fa fa-file fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
              <p style='color: white; text-align: center'>Data</p>

              </div>
            </div>
            <div class='col-4'>
              <div class='row iconRow'>
              <i  class="fa fa-cogs fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
              <p style='color: white; text-align: center'>Micro Services</p>
              </div>
              <div class='row iconRow'>
              <i  class="fa fa-cloud fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
              <p style='color: white; text-align: center'>Cloud Hosting</p>
              </div>
            </div>
            <div class='col-4'>
              <div class='row iconRow'>
                <i  class="fa fa-html5 fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <i  class="fa fa-css3 fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <i  class="fa fa-code fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
              <p style='color: white; text-align: center'>Design / UX</p>
              </div>
            </div>
          </div>
          <div style='justify-content: center;' class='row '>
              <span class="fa-stack fa-3x js-scroll-trigger" href="/#bi">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#bi">
                      <i style='color: white' class="fa fa-chevron-down fa-stack-1x"></i>
                    </a>
                  </li>
                </ul>
              </span>
          </div>
        </div>
        <br>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <section class='fade-scroll' id='bi'>
      <div  style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
          <div >
            <br>
            <br>
          </div>
        </div>
        <div>
          <h1 style='color:rgba(0, 0, 0, 0.514)' id='title'>
            Business Intelligence
          </h1>
          <h3 id='titleSub'>
                Automation and data visualization is here. 5+ years of expericence with realtime analytics using today's popular tools. 
            <br>
          </h3>
            <div style='content-align: center; justify-content: center' class="row">
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">Python</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">Tableau Desktop</p>
                </div>
              </div>
              <div href="/projects" class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">Tableau Javascript API</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">Powershell</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">GoogleCharts</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">Embedded Analytics</p>
                </div>
              </div>
            </div>
          <br>
          <div class='row webDevArt'>
            <div class='col-4'>
              <div class='row iconRow'>
                <i  class="fa fa-database fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
              <p style='color: white; text-align: center'>Data / Automation</p>
              </div>
            </div>
            <div class='col-4'>
              <div class='row iconRow'>
              <i  class="fa fa-signal fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <p style='color: white; text-align: center'>Development / Analytics</p>
              </div>
            </div>
            <div class='col-4'>
              <div class='row iconRow'>
                <i  class="fa fa-tablet fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <p style='color: white; text-align: center'>Design / Distribution</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    {{!-- <section class='fade-scroll' id='personal'>
      <div  style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
          <div >
            <br>
            <br>
          </div>
        </div>
        <div>
          <h1 style='color:rgba(0, 0, 0, 0.514)' id='title'>
            Personal Life
          </h1>
          <h3 id='titleSub'>
                Pickleball any day of the week. 
            <br>
            <br>
          </h3>
          <h3 id='title'>
                Contact me for more info:
            <br>
          </h3>
          <h3 id='titleSub'>
                ben.m.newell@gmail.com
            <br>
          </h3>
          <h3 id='titleSub'>
                785-633-5715
            <br>
          </h3>
        </div>
      </div>
    </section> --}}
    <footer>     
      <div class="container">
        <p>&copy; Created by Ben Newell. All Rights Reserved.</p>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/new-age.min.js"></script>
    <script src="javascripts/canvas.js"></script>
    <script src="javascripts/fullStackCanvas.js"></script>
    {{!-- <script src="javascripts/getImages.js"></script> --}}

    <!-- Check images before project page gets rendered! -->
    <script>
      feather.replace()
    </script>
    <script class="js">
      function hide(){
        document.getElementById("intro").setAttribute("display", "none");
      }
    </script>
    <script class="js">
      function fade(){
        var documentv = $(document),
            fadeElement = $('.fade-scroll');
                document.on('scroll', function (){
          var currentScrollPosition = documentv.scrollTop();
          fadeElement.each(function(){
            var $this = $(this),
                elementOffsetTop = $this.offset().top;
            if (currentScrollPosition > elementOffsetTop){
            $this.css('opacity', 1-(currentScrollPosition-elementOffsetTop)/400)
            }
          })
        })

      }
    </script>

  </body>

</html>

{{!-- Save for refrence --}}

    {{!-- <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto"> --}}
              {{!-- <img class="img-circle" src="https://media.licdn.com/dms/image/C5603AQH3bf6tVzfzDA/profile-displayphoto-shrink_200_200/0?e=1535587200&v=beta&t=Uu8k1tREG6TC4vTSwdXqjckCXa0Jp49KqSpe00IFujU" alt=""></img>
              <div class="social">
                <br>
                <a style='color: rgba(246, 248, 250, 0.644)' href="https://www.linkedin.com/in/ben-newell-mba/"><i id="linkedin" class="fa fa-3x fa-linkedin"></i></a>
                <a style='color: rgba(246, 248, 250, 0.644)' href="https://github.com/BenNewell32"><i id="github" class="fa fa-3x fa-github"></i></a>
                <a style='color: rgba(246, 248, 250, 0.644)' href=""><i id="twitter" class="fa fa-3x fa-twitch"></i></a>
                <a style='color: rgba(246, 248, 250, 0.644)' href="mailto:ben.m.newell@gmail.com"><i id="mail" class="fa fa-3x fa-envelope "></i></a>
              </div> --}}
            {{!-- </div>
          </div>
        </div>
      </div> --}}
    {{!-- </header> --}}