<!DOCTYPE html>
<html>
  <head>
    <script src="vendor/jquery/jquery.min.js"></script>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
