<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Projects</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/new-age.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Tableau Javascript API</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/api">View API</a>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
            </li> --}}
          </ul>
        </div>
      </div>
    </nav>
<section class='fade-scroll' display='block' name='webdev' id='webdev'>
      <div  style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
          <div >
            <br>
            <br>
          </div>
        </div>
        <div >
          <h1 style='color:rgba(0, 0, 0, 0.514)' id='title'>
            Full Stack Web Development
          </h1>
          <h3 id='titleSub'>
            I have a passion for automation and backend logic.
            <br>
          </h3>
            <div style='content-align: center; justify-content: center' class="row">
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">SQL</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">APIs</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">CSS</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">NoSQL</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">GitHub</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">HTML</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">Flat Files</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">Heroku</p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">JavaScript</p>
                </div>
              </div>
            </div>
          <br>
          <div class='row webDevArt'>
            <div class='col-4'>
              <div class='row iconRow'>
                <i  class="fa fa-database fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <i  class="fa fa-envira fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <i  class="fa fa-file fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
              <p style='color: white; text-align: center'>Data</p>

              </div>
            </div>
            <div class='col-4'>
              <div class='row iconRow'>
              <i  class="fa fa-cogs fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
              <p style='color: white; text-align: center'>Micro Services</p>
              </div>
              <div class='row iconRow'>
              <i  class="fa fa-cloud fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
              <p style='color: white; text-align: center'>Cloud Hosting</p>
              </div>
            </div>
            <div class='col-4'>
              <div class='row iconRow'>
                <i  class="fa fa-html5 fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <i  class="fa fa-css3 fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
                <i  class="fa fa-code fa-5x"></i>
              </div>
              <br>
              <div class='row iconRow'>
              <p style='color: white; text-align: center'>Design / UX</p>
              </div>
            </div>
          </div>
          <div style='justify-content: center;' class='row '>
              <span class="fa-stack fa-3x js-scroll-trigger" href="/#bi">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#bi">
                      <i style='color: white' class="fa fa-chevron-down fa-stack-1x"></i>
                    </a>
                  </li>
                </ul>
              </span>
          </div>
        </div>
        <br>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <footer>
      <div class="container">
        <p>&copy; Created by Ben Newell. All Rights Reserved.</p>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/new-age.min.js"></script>
  </body>
</html>
