<html>

<head>
    <title>Tableau JavaScript API</title>
    
    <script type="text/javascript" 
	    src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://public.tableau.com/views/SampleSalesbyRegion/Dashboard1?:embed=y&:display_count=yes&publish=yes",
                options = {
                    hideTabs: true,
                    hideToolbar: false,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };
            
            var viz = new tableau.Viz(containerDiv, url, options); 
            // Create a viz object and embed it in the container div.
        }
    </script>
    <script type="text/javascript">
        function initViz2() {
            var containerDiv = document.getElementById("vizContainer2"),
                url = "https://public.tableau.com/views/SampleSalesbyRegion/Dashboard1?:embed=y&:display_count=yes&publish=yes",
                options = {
                    hideTabs: true,
                    hideToolbar: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };
            
            var viz = new tableau.Viz(containerDiv, url, options); 
            // Create a viz object and embed it in the container div.
        }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Projects</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/new-age.min.css" rel="stylesheet">
</head>

<body onload="initViz(); initViz2();">
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Tableau JavaScript API</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/api">View API</a>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
            </li> --}}
          </ul>
        </div>
      </div>
    </nav>
    <section class='fade-scroll' display='block' name='webdev' id='webdev'>
      <div  style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
          <div >
            <br>
            <br>
          </div>
        </div>
        <div >
          <h1 style='color:rgba(0, 0, 0, 0.514)' id='title'>
            Embedded Analytics
          </h1>
          <h3 id='titleSub'>
            Utilizing Tableau's suite of tools we are able to connect to data, build real-time analytics, and embed these visualizations into custom portals. 
            <br>
            <br>
            This example showcases the following products:
            <br>
          </h3>
            <div style='content-align: center; justify-content: center' class="row">
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">
                    <a href="https://www.tableau.com/products/desktop">
                      Tableau Desktop
                    </a>
                  </p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">
                    <a href="https://www.tableau.com/products/server">
                      Tableau Server
                    </a>
                  </p>
                </div>
              </div>
              <div class="card cardList" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                <div class="card-body">
                  <p class="card-text">
                    <a href="https://onlinehelp.tableau.com/current/api/js_api/en-us/JavaScriptAPI/js_api.htm">
                      Tableau Javascript API
                    </a>
                  </p>
                </div>
              </div>
            </div>
          <br>
          <div style='justify-content: center;' class='row '>
              <span class="fa-stack fa-3x js-scroll-trigger" href="/#portal">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portal">
                      <i style='color: white' class="fa fa-chevron-down fa-stack-1x"></i>
                    </a>
                  </li>
                </ul>
              </span>
          </div>
        </div>
        <br>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>
    <div style='border-top: solid; border-color: white;'>
    </div>
    <section class='fade-scroll' display='block' name='webdev' id='webdev'>
      <div  style='justify-content: center' class="container">
        <div style='justify-content: center;' class="row">
          <div >
            <br>
            <br>
          </div>
        </div>
        <div style="text-align: center;">
          <h1 style='text-align: center; color:rgba(0, 0, 0, 0.514)' id='portal'>
            Portal Example
          </h1>
          <div style="width: 100%; justify-content: center; align-content: center; text-align: center;" class='row'>
            <div class='col-md-12' style='padding:2px'>
              username: <input style="width:60% ;
                  height: 30px;
                  padding: 12px 20px;
                  margin: 8px 0;
                  display: inline-block;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  box-sizing: border-box;
                  font-size: 15px;"
                  type="text" name="Name" value="(A dummy field. Click log in.)">
              password: <input style="width: 40%;
                  height: 30px;
                  padding: 12px 20px;
                  margin: 8px 0;
                  display: inline-block;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  box-sizing: border-box;
                  font-size: 20px;"
                  type="password" name="Password" value="EmbedRocks">
              <input style="
                width: 120px;
                height: 30px;
                background-color: #4CAF50;
                color: white;
                text-align: center;
                justify-content: center;
                border: none;
                border-radius: 4px;
                cursor: pointer"
              type="submit" value="Log In">
            </div>
          </div>
            <div style='content-align: center; justify-content: center' class="row">
              <div class='col-md-6' style='padding:2px'>
                <div id="vizContainer" style='height:200px'></div>
              </div>
              <div class='col-md-6' style='padding:2px'>
                <div id="vizContainer2" style='height:200px'></div>
              </div>
            </div>
        </div>
        <br>
        <div style='justify-content: center' class="row">
          <div class="col-4">
          </div>
        </div>
      </div>
    </section>   
    <div style='border-top: solid; border-color: white;'>
    </div> 
</body>
    <footer>
      <div class="container">
        <p>&copy; Created by Ben Newell. All rights reserved.</p>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/new-age.min.js"></script>

</html>